.sui-studio-doc-separator {
  width: 100%;
  background-color: var(--c-sui-studio-doc-neutral10);
  hr {
    margin: 0;
    border: 1px solid transparent;
  }
  margin: 0.3em 0;
  .sui-studio-doc-separator-content {
    margin: -2px 0em;
    display: block;
    padding-left: calc(10px - 0.3em);
    padding-right: calc(10px - 0.3em);
    color: var(--c-sui-studio-doc-neutral0);
    &:empty {
      min-height: 2px;
    }
  }

  .sui-studio-doc-separator-content {
    background-color: var(--c-sui-studio-doc-neutral0);
    color: var(--c-sui-studio-doc-neutral10);
  }
}
