.sui-studio-doc-box {
  padding: 1rem;
  border-radius: 4px;
  background: var(--c-sui-studio-doc-neutral0);
  border-width: 1px;
  border-style: solid;
  border-color: var(--c-sui-studio-doc-neutral2);
  &.sui-studio-doc-box-mode-dark {
    background: var(--c-sui-studio-doc-neutral10);
    border-width: 1px;
    border-style: solid;
    border-color: var(--c-sui-studio-doc-neutral7);
  }

  &-full-screen {
    width: 100vw;
    height: 100vh;
  }
}
