.sui-studio-doc-code {
  color: var(--c-sui-studio-doc-secondary5);
  font-size: 0.9em;
  font-family: var(--ff-sui-studio-doc-monospace);
  font-weight: var(--fw-sui-studio-doc-regular);
  background: var(--c-sui-studio-doc-neutral0);
  border: solid 1px var(--c-sui-studio-doc-neutral2);
  border-radius: 4px;
  padding: 0 2px;
  &.sui-studio-doc-mode-dark {
    background: var(--c-sui-studio-doc-neutral-darkest);
    border: solid 1px var(--c-sui-studio-doc-neutral);
  }
}
