.sui-studio-doc.sui-studio-doc-code {
  color: var(--c-sui-studio-doc-secondary);
  font-size: 0.9rem;
  font-family: var(--ff-sui-studio-doc-monospace);
  font-weight: var(--fw-sui-studio-doc-regular);
  border-radius: 4px;
  padding: 2px 4px;
  &.sui-studio-doc-mode-light {
    color: var(--c-sui-studio-doc-secondary);
    background: hsl(var(--c-palette-neutral-hue), 0%, 95%);
  }
  &.sui-studio-doc-mode-dark {
    color: var(--c-sui-studio-doc-secondary);
    background: var(--c-sui-studio-doc-neutral-darkest);
  }
}
