.sui-studio-doc.sui-studio-doc-heading {
  margin: 0.8em 0 0.2em 0;
  font-family: var(--ff-sui-studio-doc-sans-serif);
  @at-root {
    &-h1,
    h1#{&} {
      font-size: var(--fz-sui-studio-doc-xxl);
      font-weight: var(--fw-sui-studio-doc-regular);
      margin-block-start: 0.8em;
      margin-block-end: 0.2em;
    }

    &-h2,
    h2#{&} {
      font-size: var(--fz-sui-studio-doc-s);
      font-weight: var(--fw-sui-studio-doc-bold);
      text-transform: uppercase;
      margin-block-start: 0.8em;
      margin-block-end: 0.2em;
    }

    &-h3,
    h3#{&} {
      font-size: var(--fz-sui-studio-doc-md);
      font-weight: var(--fw-sui-studio-doc-regular);
      margin-block-start: 0.8em;
      margin-block-end: 0.2em;
    }

    &-h4,
    h4#{&} {
      font-size: var(--fz-sui-studio-doc-sm);
      font-weight: var(--fw-sui-studio-doc-medium);
      text-transform: uppercase;
      margin-block-start: 0.8em;
      margin-block-end: 0.2em;
    }
  }
  &.sui-studio-doc-mode {
    &-light {
      color: var(--c-sui-studio-doc-neutral10);
    }
    &-dark {
      color: var(--c-sui-studio-doc-neutral0);
    }
  }
}
