.sui-studio-doc-grid {
  display: grid;
  color: var(--c-sui-studio-doc-neutral10);
  &-cell {
    &-ta {
      &-left {
        text-align: left;
      }
      &-right {
        text-align: right;
      }
      &-center {
        text-align: center;
      }
    }
  }
}
